

log:
  level: debug
  mode: dev
auth:
  username: "myGithubAccount"
  token: "github_pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
committer:
  name: "ezctower"
  email: "tower@ezcluster.com"
workdir: "./works"
repo: "https://github.com/BROADSoftware/ezciac.git"
branch: "testtower"
path: "vagrant2/single2"

