

export EZCT_WORKDIR="./works"
export EZCT_REPO="https://github.com/BROADSoftware/ezciac.git"
export EZCT_BRANCH="testtower"
export EZCT_PATH="vagrant2/single2"
export EZCT_GIT_USERNAME="myGithubAccount"
export EZCT_GIT_TOKEN="github_pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export EZCT_LOG_MODE="dev"
export EZCT_LOG_LEVEL="debug"


